* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    /*The box-sizing property is used to tell the browser what the sizing properties (width and height) should include border-box.*/
    box-sizing: border-box;
    /*reset Chrome user agent styles*/
    -webkit-margin-before: 0px;
    -webkit-margin-after: 0px;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-before: 0px;
    -webkit-padding-after: 0px;
    -webkit-padding-start: 0px;
    -webkit-padding-end: 0px;
    /*reset Firefox user agent styles*/
    -moz-margin-before: 0px;
    -moz-margin-after: 0px;
    -moz-margin-start: 0px;
    -moz-margin-end: 0px;
    -moz-padding-before: 0px;
    -moz-padding-after: 0px;
    -moz-padding-start: 0px;
    -moz-padding-end: 0px;
    /*reset Internet Explorer user agent styles*/
    -ms-margin-before: 0px;
    -ms-margin-after: 0px;
    -ms-margin-start: 0px;
    -ms-margin-end: 0px;
    -ms-padding-before: 0px;
    -ms-padding-after: 0px;
    -ms-padding-start: 0px;
    -ms-padding-end: 0px;
    /*reset Opera user agent styles*/
    -o-margin-before: 0px;
    -o-margin-after: 0px;
    -o-margin-start: 0px;
    -o-margin-end: 0px;
    -o-padding-before: 0px;
    -o-padding-after: 0px;
    -o-padding-start: 0px;
    -o-padding-end: 0px;
}

/* -------------------------------------
General styles (General Module, wrapping around the modules below)
(the styles used everywhere in the page (like the Body) or styles which are used in more than 2 of the modules below (h2, h3, h4, h5, h6, p, a, ul, li))
*/

/* -------------------------------------
Header styles (Main Module)
(all the styles inside the < header > or < nav > tags)
*/

/* -------------------------------------
Content styles (Main Module)
(all the styles inside the < sections > or < aside > tags)
*/

body {
    background: black;
    margin: 0;
    font-family: 'IM Fell DW Pica', serif;
}

.thumb {
    width: 100%;
    max-width: 800px;
    height: 400px;
    margin: 70px auto;
    position: relative;
    border: none;
}

.thumb div {
    color: white;
    position: relative;
    top: 200px;
    text-align: center;
    font-size: 20px;
}

.thumb a {
    display: block;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url("images/cool-owl.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-color: black;
    transform-style: preserve-3d;
    transition: all 0.5s;
    position: absolute;
    background-position: center center;
}

.thumb:hover a {
    transform: rotateX(80deg);
    transform-origin: bottom;
}

.thumb a:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 36px;
    background: inherit;
    background-size: cover, cover;
    background-position: bottom;
    transform: rotateX(90deg);
    transform-origin: bottom;
}

.thumb a section {
    color: white;
    text-transform: uppercase;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    font: bold 12px/36px "Open Sans";
    text-align: center;
    transform: rotateX(-89.99deg);
    transform-origin: top;
    z-index: 1;
}

.start-section {
    border-radius: 20px;
    border: none;
    font-size: 28px;
    font-family: 'Dosis', sans-serif;
    color: black;
}

.start-section button {
    font-size: 20px;
    font-family: 'IM Fell DW Pica', serif;
    padding: 0.50rem 1rem;
    border-radius: 85%;
    background-color: black;
    color: white;
}

#out {
    font-size: 14px;
    font-family: 'IM Fell DW Pica', serif;
    top: 10px;
}

.thumb a:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 100px 50px rgba(0, 0, 0, 0.5);
    transition: all 0.5s;
    opacity: 0.15;
    transform: rotateX(95deg) translateZ(-80px) scale(0.75);
    transform-origin: bottom;
}

.thumb:hover a:before {
    opacity: 1;
    box-shadow: 0 0 75px 75px rgba(0, 0, 0, 0.5);
    transform: rotateX(0) translateZ(-60px) scale(0.85);
}

nav {
    height: 60px;
    background-color: black;
    opacity: 50%;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    right 0;
    z-index: 1000;
}

nav .icon-img {
    height: 50px;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 50%;
    vertical-align: middle;
}

nav button {
    display: inline-block;
    list-style: none;
    background-color: black;
}

.col-3 {
    margin: 0 auto;
    /*max-width: 600px;*/
    padding: 30px;
    background-color: black;
    border-radius: 15px;
    margin-top: 15px;
    box-shadow: 1px 1px 8px 5px #a3c2c2;
    position: relative;
    display: inline-block;
}

.result .icon {
    position: absolute;
    bottom: 10px;
    left: 10px;
}

.result-description {
    padding: 10px;
    text-align: justify;
    overflow: hidden;
    font-size: 0.9em;
}

#foursquare-results {
    margin-top: 70px;
    margin-bottom: 30px;
    color: aliceblue;
    text-align: center;
}

#foursquare-results span {
    display: inline-block;
    padding: 5px;
    vertical-align: top;
    background-color: black;
    border-radius: 5px;
}

.result-name {
    color: aqua;
    font-size: 20px;
}

.row {
    margin-top: 0px;
}

/* -------------------------------------
Footer styles (Main Module)
(all the styles inside the < footer > tag)
*/

/* -------------------------------------
place all the desktop styles above this line
Responsive styles
(the very last module in the CSS, contains all the media queries and it is dealing with the compatibility with mobiles and tablets)
place all the mobile tables styles below this line
*/
